<div class="main__container">
  <div class="event__container">
    <h1 class="event__title">Events</h1>
    <h3 class="mb-3"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'text-dark' %></h3>
    <% if user_signed_in? %>
      <h1><%= link_to '➕' ,new_meeting_path, method: :get%></h1>
    <% end %>
    <% @meetings.each do |meeting| %>
      <div class="event__description <%= 'event-done' if meeting.is_done %>">
        <h4><%= meeting.name.capitalize! %></h4>
        <p>

          <%= meeting.start_time.strftime('%d-%m-%Y') %>
          /
          <%= meeting.end_time.strftime('%d-%m-%Y') %>
          <%= link_to "#{ meeting.is_done ? 'Undo' : 'Mark as Done' }", toggle_enable_status_meeting_path(meeting), method: :patch, remote: :true, class: "btn btn-xs btn-success" %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="calendar__container">
    <h1 class='mt-5 text-center mb-3'>Hello, <%= current_user.email %></h1>
    <%= month_calendar(events: @meetings) do |date, meetings| %>
      <span ><%= date.day %></span>

      <% if meetings.present?%>
        <span class="present-bullet">•</span>
        <% meetings.each do |meeting| %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
