<div class="main__container">
  <div class="event__container">
    <% @meetings.each do |meeting| %>
      <div class="event__description">
        <%= meeting.name %>
        <%= meeting.start_time.strftime("% %m %y") %>
        <%= meeting.end_time %>
      </div>
    <% end %>
  </div>

  <div class="calendar__container">
    <h1 class='mt-5 text-center mb-3'>Hello, <%= current_user.email %></h1>
    <%= month_calendar(events: @meetings) do |date, meetings| %>
      <span ><%= date.day %></span>

      <% if meetings.present?%>
        <span class="present-bullet">•</span>
        <% meetings.each do |meeting| %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
