<div class="mt-5">
  <%= simple_form_for @meeting do |f| %>
    <%= f.input :name, label: 'Event name' %>
    <%= f.input :start_time, label: 'Start time' %>
    <%= f.input :end_time, label: 'End time' %>
    <%= f.submit %>
  <% end %>
</div>
